mainmenu "Flowteal Magi Sensors Gateway"

menu "Flowteal Magi Sensors Gateway"

config SPRINKLER_MANUAL_SERVER
	bool "Disable DNS lookup"

config SPRINKLER_API_SERVER_IP
	string "TagoIO Main Server"
	depends on SPRINKLER_MANUAL_SERVER
	default "75.2.65.153"

config SPRINKLER_DEVICE_TOKEN
	string "The Device Identification Token"
	default "device_token"

config SPRINKLER_HTTP_PUSH_INTERVAL
	int "Configure data push interval in seconds"
	range 1 512
	default 10

config SPRINKLER_HTTP_CONN_TIMEOUT
	int "Configure http request timeout in seconds"
	range 1 120
	default 10

if WIFI

config SPRINKLER_HTTP_WIFI_SSID
	string "WIFI SSID - Network name"
	default "my_network"

config SPRINKLER_HTTP_WIFI_PSK
	string "WIFI PSK - Network password key"
	default "secret_passwd"

endif # WIFI

module = SPRINKLER_HTTP_POST
module-str = Flowteal Magi Sensors Gateway
module-help = Reads from sensors and controls irrigation programmer
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
